html,body{height:100%;}
body{
	background: url(../images/body_bg4.jpg) top center repeat #a2a2a2;
	/*font:12px/20px Arial, Helvetica, sans-serif;*/
	font-family: 'Droid Sans', sans-serif;
	color:#666;
	position:relative;
	min-width:320px;
  -webkit-text-size-adjust: none;
}
/*********************************header*************************************/
header{width:100%; padding:0px 0 60px;}
	header .indent-bottom{padding-bottom:0px; margin-top: 0px; width: 33%;}
h1{float:left; padding-top:4px; padding-left:4px;}
	h1 a{
		display:block;
		width:252px;
		height:56px;
		overflow:hidden;
		text-indent:-999em;
		white-space:nowrap;
		background:url(../images/entrust-manufacturing-technologies-logo.png) 0 0 no-repeat;
		text-decoration:none;
		opacity: .8;
		margin-left: 10px;
		margin-right: -10px;
	}
		h1 a:hover{text-decoration:none;}
.secondary-menu{float:right; overflow:hidden; margin-top: 29px; margin-right:6px;}
	.secondary-menu li{
		float:left;
		font:14px/20px Arial, Helvetica, sans-serif;
		color:#77736d;
		padding: 2px 8px 0;
		/*background:url(../images/secondary-menu-separator.gif) right center no-repeat;*/
		overflow:hidden;
	}
		.secondary-menu li:first-child{padding-left:0;}
		.secondary-menu li.last-item{padding-right:0; background:none;}
		.secondary-menu a{color:#8f8980; text-decoration:none;}
			.secondary-menu a:hover{text-decoration:none; color:#fff;}
		.secondary-menu span{display:inline-block; margin-right:13px; float:left;}
/********************************* Content **********************************/
#content{width:100%; border-bottom:8px solid #221c18;  margin-bottom: 8px; background-image:url(../images/white-bg.png); background-repeat: repeat; /*padding: 0px 4px;*/}
img .margin {margin: 3px;}
/*----- Global Structure -----*/

.img-indent{float:left; margin-right:20px;}
.img-indent3-1{float:left; margin-right:18px;}
.img-indent4-1{float:left; margin-right:22px; padding: 0px 6px;}
.last-item{margin-right:0 !important; margin-bottom:0 !important;}

/* ---------- Tags ---------*/
h3{font:/*300 36px/40px*/ 'Oxygen', font-weight: 700; sans-serif; color:#333; font-size:36px; padding-left: 16px; padding-top:12px;}
	h3.title1{line-height:26px; padding-left: 20px;}
h4{font: 'Oxygen', font-weight: 700; font-size: 24px; sans-serif; color:#666; margin-bottom:8px; padding-left: 20px;}
h5{font: 12px/19px 'Droid Sans', sans-serif; color:#666; padding-left: 20px; font-style:italic}
h6{font:normal 12px/20px 'Oxygen', sans-serif; color:#333; padding-left: 20px;}
	h6 a{color:#ED1C24; text-decoration:none;}
		h6 a:hover{text-decoration:none; color:#000;}

blockquote{
	width:85%;
	margin-left: 20px;
	padding-left: 26px;
	/*padding-bottom:19px;*/
	margin-bottom: 10px;
	font:18px/22px 'Droid Sans', Arial, Helvetica, sans-serif;
	/*font-style: italic;*/
	font-weight: bold;
	color:#555;
	/*border-left: 8px solid #005288;*/
	background: url(../images/quote.png) no-repeat;
  position: relative;
  
  
}
  blockquote:after{
    display: block;
    position: absolute;
    bottom: 1px;
    left: 63px;
    width: 34px;
    height: 19px;
    /*background: url('../images/quote-bottom.gif') no-repeat;*/
    content: "";
  }
	.quote-content{
		border:1px solid #4b4641;
		border-bottom-color:#4b4641;
		min-height:130px;
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
	}
	.quote-bg{
		background:url(../images/quote.png) 17px 11px no-repeat;
		padding:21px 20px 25px 25px;
	}
	.quote-caption{text-align:right; margin-top:-6px;}
		.quote-caption a{text-decoration:none;}
			.quote-caption a:hover{color:#414141;}
			
	.detail-pix{
		float:right;
		size:auto;
		margin:3px;
	}
	
	.plant img {
		width: 250px;
		height: auto;
	}
/*---------- Columns --------*/
.col-2-1{float:left; width:161px; margin-right:48px;}
.col-2-1x{float:left; width:130px; margin-right:24px;}
.col-2-1xx{float:left; width:191px; margin-right:15px;}
.col-4{float:left; width:291px; margin-right:13px;}
/*----------- Boxes ----------*/
.box{background:url(../images/box-tail.png) center top repeat; margin:-3px; padding-left: 0px;}
#page2 .box {background:#1c1714;}
	.box .indents{padding:12px 14px 32px 20px;}
	.box h3{font-size:38px; line-height:46px;}
.box2{
	background:#423a36;
	padding:15px 15px 14px;
}
.img-box{
	display:inline-block;
	/*border: solid 1px #999;
	background:#333;
	padding:5px;*/
	padding: 20px;
}
.partners .img-box{
  padding: 7px;
  border: 1px solid #57524e;
  background: #fff;
}

.thumb{
	width: 60px;
	height: auto;
	margin: 5px;
	border: 1px solid #999;
	float: left;
}

.machines{
	float:left;
	border: 1px solid #999;
	margin-right: 5px;
	width: 300px;
	height:auto;
}

.arrow1{background:url(../images/arrow1.png) 159px 0 no-repeat; padding-top:10px;}
.arrow2{background:url(../images/arrow2.png) 367px bottom no-repeat; padding-bottom:14px;}
.circle{
	float:left;
	margin-right:14px;
	width:53px;
	height:53px;
	overflow:hidden;
	font:bold 36px/53px Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	background:#ED1C24;
	border-radius:26px;
	-moz-border-radius:26px;
	-webkit-border-radius:26px;
}
.block1{
	float:left;
	margin-right:20px;
	padding-top:4px;
	width:51px;
	height:63px;
	overflow:hidden;
	font:bold 36px/44px Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	background:url(../images/block1.png) center top no-repeat;
}
/*---------- Links ----------*/
a{color:#ED1C24; outline:none; cursor:pointer; text-decoration:none;}
	a:hover{text-decoration: none; color: #333;}
a[href^="tel:"]{color:#7d7d7d; text-decoration:none;}
.button{
	display:inline-block;
	cursor:pointer;
	font:12px/15px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	background:#333;
	padding:7px 12px 6px;
	margin-bottom:-4px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-left: 20px;
}
	.button:hover{text-decoration:none; background-position: center -57px; background-color: #ED1C24;}
/*---------- Lists -----------*/
.list-1 {
	margin-left:18px;}

.list-1 li{
	font:14px/22px 'droid sans' Arial, Helvetica, sans-serif;
	color:#666;
	background:url(../images/marker-1.png) 0 8px no-repeat;
	padding-left:22px;
	margin-bottom:5px;
}
	.list-1 a{text-decoration:none; color:#ED1C24;}
		.list-1 a:hover{text-decoration:none; color:#333;}
.list-2 li{
	font: 22px/30px 'Lato', sans-serif;
	margin-bottom:5px;
}

/*.list-2 li{
	font:300 25px/30px 'Lato', sans-serif;
	margin-bottom:5px;
}*/

.dhd img {
	float: left;
	border: 0;
	margin: 0 9px 0 -5px;
	
}

.list-2 li img{
	border: 1px solid #999;
}

.list-2 li .hilight{
		background-color: #bcbcbc;
		border: 2px solid black;
		color: #000;}
		
		
		
	.list-2 a{
		display:block;
		color:#85786e;
		text-decoration:none;
		padding:12px 17px 13px;
		background:#222222;
	}
	
	.list-2 a .active{
		color: #ED1C24;}	
		.list-2 a:hover{
	text-decoration: none;
	color: #ff8b03;
/*	font-size: 10px;*/
		}
		.list-2 a:hover .hilight{
			color: #85786E;}
/*---------- Borders ---------*/
.border-bottom{border-bottom:1px solid #4c4642;}
/*---------- Indents ---------*/
p { padding-left: 20px; line-height: 18px; padding-right: 10px;}

p, .p3-1{margin-bottom:0px; line-height:22px;}
	.p0{margin-bottom:0;}		.p0-1{margin-bottom:3px;}
	.p1{margin-bottom:5px;}		.p1-1{margin-bottom:8px;}
	.p2{margin-bottom:10px;}	.p2-1{margin-bottom:12px;}
	.p3{margin-bottom:15px;}
	.p4{
	margin-bottom: 30px;
	line-height: 27px;
}	.p4-1{margin-bottom:22px;}
	.p5{margin-bottom:25px;}	.p5-1{margin-bottom:24px;}
	.p6{margin-bottom:26px; margin-top: 22px;}	.p6-1{margin-bottom:10px; margin-top: 65px;}
	.p7{margin: 0px 0px 16px 0px;}	.p7-1{margin-bottom:12px;} .p7-2{margin: -40px 0px 4px 0px;}
	.p8{margin-bottom:40px;}	.p8-1{margin-bottom:42px;}
	.p9{margin-bottom: 15px;
	line-height: 27px; color:#dbdbdb;)
	

.indent-top1{padding-top:5px;}
.indent-right2{padding-right:10px;}
.indent-right4{padding-right:20px;}
.indent-right5{padding-right:25px;}
.indent-right6{padding-right:30px;}
.indent-left4{padding-left:20px;}
.indent-bottom2{padding-bottom:10px;}
.indent-bottom3{padding-bottom:15px;}
.indent-bottom4-1{padding-bottom:22px;}
.indent-bottom6{padding-bottom:30px;}
.indent-bottom7{padding-bottom:35px;}
.indent-bottom8-1{padding-bottom:42px;}
.indent-bottom10{padding-bottom:50px;}

/*----------- Map ------------*/
#map iframe{width:100%; height:265px;}
#map dl{width:100%; position:relative; overflow:hidden;}
#map dt{margin-bottom:20px;}
#map dl span {float:left; width:73px;}
/********************************* aside **********************************/
aside{
	width:100%;
	border-bottom:8px solid #221c18;
	padding:34px 0 38px;
	font:13px/20px Arial, Helvetica, sans-serif;
}
	aside .list-1 li{font-size:13px;}
	.social-icons{
		float:left;
		width:50%;
		overflow:hidden;
	}
		.social-icons li{margin-bottom:10px;}
		.social-icons a{
			color:#ED1C24;
			text-decoration:none;
			display:inline-block;
			padding-left:27px;
			background-position:0 1px;
			background-repeat:no-repeat;
		}
		.social-icons .icon-1{background-image:url(../images/icon-1.png);}
		.social-icons .icon-2{background-image:url(../images/icon-2.png);}
		.social-icons .icon-3{background-image:url(../images/icon-3.png);}
		.social-icons .icon-4{background-image:url(../images/icon-4.png);}
		.social-icons a:hover{color:#fff;}
/************************************** Footer *************************************/
footer{
	
	width:100%;
	padding:28px 20px 35px;
	margin: 20px;
	overflow:hidden;
	font:13px/20px 'oxygen', Helvetica, sans-serif;
	
}
	.footer-text{float:left; width:400px; margin: 20px; border-top: 8px solid #221c18; vertical-align:middle; font-size: 80%;}
		.footer-text a{color:#ED1C24; text-decoration:none;}
			.footer-text a:hover{color:#fff;}
	.footer-link{float:right;}


/*=================================================================================*/
@media only screen and (max-width: 995px) {
	p, .p3, .p3-1{margin-bottom:15px}
		.p4-1, .p5, .p5-1, .p6, .p6-1, .p7, .p7-1, .p8, .p8-1{margin-bottom:20px;}
		h3{margin-bottom:15px !important;}
	.indent-right2, .indent-right4, .indent-right5, .indent-right6{padding-right:0;}
	.indent-left4{padding-left:0;}
	.indent-bottom4-1, .indent-bottom8-1, .indent-bottom10{padding-bottom:20px;}
	.indent-bottom3, .indent-bottom7{padding-bottom:30px;}
	.col-2-1{width:140px; margin-right:30px;}
	.col-2-1x{width:150px; margin-right:20px;}
	.col-2-1xx{width:154px;}
	.col-4{width:236px; margin-right:20px;}
	/*-----------------------------------------*/
	.arrow1{background-position:130px 0;}
	.arrow2{background-position:300px bottom;}
		.arrow1 .arrow2 .indent-top1{padding-top:0;}
		.arrow1 .arrow2 .wrapper{margin-bottom:10px !important;}
	.list-2 li{font-size:20px; line-height:24px;}
}

@media only screen and (max-width: 767px) {
	.indent-top1{padding-top:0;}
	.col-2-1{width:123px; margin-right:20px;}
	.col-2-1x{width:126px;}
	.col-2-1xx{width:130px;}
	.col-4{float:none; width:100%; margin-right:0; margin-bottom:30px;}
	/*-----------------------------------------*/
	h1{float:none; margin-bottom:15px; padding-left:0;}
	.secondary-menu{float:none;}
	.box{padding:25px 0 30px;}
		.box .indents{padding:0 18px;}
	.circle{float:none; margin:0 auto 20px;}
	.arrow1{background-position:110px 0;}
	.arrow2{background-position:250px bottom;}
	.social-icons li{float:left; width:50%;}
	.footer-text, .footer-link{float:none;}
  .img-indent4-1, .img-indent{float: none;margin-right: 0;}
  img{width: 100%;}
  .img-box{display: block;}
}

@media only screen and (max-width: 479px) {
	.col-2-1, .col-2-1x, .col-2-1xx{float:none; width:100%; margin-right:0; margin-bottom:40px;}
	/*-----------------------------------------*/
	.secondary-menu li{background:none;}
		.secondary-menu li:first-child{background:url(../images/secondary-menu-separator.gif) right center no-repeat;}
		.secondary-menu li.last-item{float:none; width:245px; padding-left:0; padding-top:15px;}
	.arrow1{padding-top:0; background:url(../images/arrow1-mp.png) 0 155px no-repeat;}
	.arrow2{padding-bottom:0; background:url(../images/arrow2-mp.png) right 340px no-repeat;}
	.social-icons li{float:none; width:100%;}
}

/* S3 Slider ----------------------------- */
#s3slider {
    width: 400px; /* important to be same as image width */
    height: 300px; /* important to be same as image height */
    position: relative; /* important */
    overflow: hidden; /* important */
}
 
#s3sliderContent {
    width: 400px; /* important to be same as image width or wider */
    position: absolute; /* important */
    top: 0; /* important */
    margin-left: 0; /* important */
}
 
.s3sliderImage {
    float: left; /* important */
    position: relative; /* important */
    display: none; /* important */
}
 
.s3sliderImage span {
    position: absolute; /* important */
    left: 0;
    font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 374px;
    background-color: #000;
    filter: alpha(opacity=70); /* here you can set the opacity of box with text */
    -moz-opacity: 0.7; /* here you can set the opacity of box with text */
    -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
    opacity: 0.7; /* here you can set the opacity of box with text */
    color: #fff;
    display: none; /* important */
    top: 0; /*
        if you put top: 0;  -> the box with text will be shown 
                                at the top of the image
        if you put bottom: 0;  -> the box with text will be shown 
                                at the bottom of the image
    */
}
 
.clear {
    clear: both;
}
