nav{}
#page1 nav{margin-bottom:8px;}
.menu {
	float:right;
	list-style:none;
	border-top:4px solid #252525;
	/*width: 65%;*/
	background:/*url(../images/menu-tail.gif) center top repeat-x*/ #3b3b3b;
	/*margin-bottom: 16px;*/
}
.menu > li {
	position:relative;
	float:left;
	/*font:14px/17px Arial, Helvetica, sans-serif;*/
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size:15px;
	/*background:url(../images/menu-separator.gif) right top repeat-y;*/
	padding-right:3px;
	
}
	.menu > li.last-item{padding-right:0; background:none;}
	.menu > li > a {
		display:block;
		width:113px;
		color:#fff;
		text-decoration:none;
		text-align:center;
		padding:22px 0 22px;
		background:url(../images/menu-hover.gif) center -999em no-repeat;

	}
		.menu > li.sfHover > a,.menu > li > a:hover , .menu > li.current > a {
			text-decoration:none;
			background-position:center top;
			background-repeat:repeat-x;
			background-color:#ed1c24;
		}
	.menu .menu-arrow{display:none;}
/***submenu***/
.menu ul {
	position:absolute;
	top:-999em;
	width:158px; 
	display:none;
	padding:13px 0 19px;
	background:#333;
	opacity: 0.8;
	z-index:99;

}
.menu li li{
	width:100%;
	padding:0;
	margin-bottom:13px;
	position:relative;
	font:12px/17px Arial, Helvetica, sans-serif;
	text-align:center;
	border-style:solid;
	
}
	.menu li li a{color:#fff; text-decoration:none;}
		.menu li li > a:hover,.menu li li.sfHover > a{color:#ed1c24; text-decoration:none;}
.menu li:hover ul, .menu li.sfHover ul {left:0; top:67px;}
.menu li:hover li ul, .menu li.sfHover li ul {top:-999em;}
/***subsubmenu***/
.menu ul ul{background-color:#333;}
.menu li li:hover ul, .menu li li.sfHover ul {left:145px; top:-29px;}
.menu li li:hover li ul, .menu li li.sfHover li ul {top:-999em;}

@media only screen and (max-width: 995px){
	.menu > li > a {width:123px;}
	.menu > li > a .menu-arrow{display:inline-block; width:11px; height:6px; overflow:hidden; text-indent:-999em; font-size:0; line-height:0; background:url(../images/menu-arrow.gif) center top no-repeat; margin-left:6px; vertical-align:middle;}
	.menu ul .menu-arrow{display:inline;}
}

@media only screen and (max-width: 767px) {
	nav{
		float:none;
		font:10px/12px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#fff;
		padding:24px 0;
	}
		nav:before{
			content:'Menu:';
			display:block;
			margin-bottom:5px;
		}
	.menu{display:none;}
	nav select{
		font:10px/12px Arial, Helvetica, sans-serif;
		color:#464646;
		width:100%;
    outline: none;
    padding: 5px;
		border:2px solid #9e9e9e;
	}
}

@media only screen and (max-width: 479px){
	.menu ul ul{width:298px;}
}